Repository ArkaMandal16/Med-AI, pull requests merged in 2024-02, with the labels that each got.

#1 Readme file added by sayandip
  readme.md
Labels: Diversion, Readme

#2 Started our medical AI Website with this Image Folder..By Sayandip
  diversion.txt
  medicalimages/prescription.jpeg
Labels: images, frontend

#3 Partly Worked on Readme File..by Arka
  readme.md
Labels: documentation, Readme

#7 Added index page in views folder for Front-End..by Arka
  views/index.hbs
Labels: frontend, handlebars, hbs, index

#8 Added profile page in views folder for Front-End..by Arka
  views/profile.hbs
Labels: frontend, handlebars, hbs, profile

#9 Added about page in views folder for Front-End..by Arka
  views/about.hbs
Labels: frontend, handlebars, hbs, chatbot, about

#10 Added other pages for the frontend part
  views/serveruploadindex.hbs
  views/text.txt
Labels: frontend, handlebars, hbs, text, sample

#11 Linkified chatbot about page
  views/about.hbs
Labels: frontend, handlebars, hbs, chatbot, about, link

#15 Update login page
  views/login.hbs
Labels: frontend, handlebars, hbs, profile, register

#16 added tech stacks to readme and made some slight updates on the login page
  readme.md
  views/about.hbs
Labels: documentation, Readme, frontend, handlebars, hbs, register, login

#17 Added Working Model Video Demonstration in readme file
  readme.md
Labels: documentation, Readme, video, working, model

#18 Added Public folder
  public/assets/css/animate.css
  public/assets/css/bootsnav.css
  public/assets/css/bootstrap.min.css
  public/assets/css/flaticon.css
  public/assets/css/font-awesome.min.css
  public/assets/css/linearicons.css
  public/assets/css/owl.carousel.min.css
  public/assets/css/owl.theme.default.min.css
  public/assets/css/responsive.css
  public/assets/css/style.css
  public/assets/fonts/Flaticon.eot
  public/assets/fonts/Flaticon.svg
  public/assets/fonts/Flaticon.ttf
  public/assets/fonts/Flaticon.woff
  public/assets/fonts/FontAwesome.otf
  public/assets/fonts/Linearicons-Free.eot
  public/assets/fonts/Linearicons-Free.svg
  public/assets/fonts/Linearicons-Free.ttf
  public/assets/fonts/Linearicons-Free.woff
  public/assets/fonts/Linearicons-Free.woff2
  public/assets/fonts/fontawesome-webfont.eot
  public/assets/fonts/fontawesome-webfont.svg
  public/assets/fonts/fontawesome-webfont.ttf
  public/assets/fonts/fontawesome-webfont.woff
  public/assets/fonts/fontawesome-webfont.woff2
  public/assets/fonts/glyphicons-halflings-regular.eot
  public/assets/fonts/glyphicons-halflings-regular.svg
  public/assets/fonts/glyphicons-halflings-regular.ttf
  public/assets/fonts/glyphicons-halflings-regular.woff
  public/assets/fonts/glyphicons-halflings-regular.woff2
  public/assets/images/brand/br1.png
  public/assets/images/brand/br2.png
  public/assets/images/brand/br3.png
  public/assets/images/brand/br4.png
  public/assets/images/brand/br5.png
  public/assets/images/brand/br6.png
  public/assets/images/clients/c1.png
  public/assets/images/clients/c2.png
  public/assets/images/clients/c3.png
  public/assets/images/featured-cars/fc1.png
  public/assets/images/featured-cars/fc2.png
  public/assets/images/featured-cars/fc3.png
  public/assets/images/featured-cars/fc4.png
  public/assets/images/featured-cars/fc5.png
  public/assets/images/featured-cars/fc6.png
  public/assets/images/featured-cars/fc7.png
  public/assets/images/featured-cars/fc8.png
  public/assets/images/new-cars-model/ncm1.png
  public/assets/images/new-cars-model/ncm2.png
  public/assets/images/new-cars-model/ncm3.png
  public/assets/images/welcome-hero/welcome-banner.jpg
  public/assets/js/bootsnav.js
  public/assets/js/bootstrap.min.js
  public/assets/js/custom.js
  public/assets/js/feather.min.js
  public/assets/js/jquery.js
  public/assets/js/owl.carousel.min.js
  public/assets/logo/favicon.png
  views/login.hbs
Labels: frontend, public, css

#19 Added css files of our website
  public/css/bootstrap.css
  public/css/font-awesome.min.css
  public/css/perfect-scrollbar.css
  public/css/profilestyle.css
  public/css/responsive.css
  public/css/style.css
  public/css/style.css.map
  public/css/style.scss
Labels: frontend, css, bootstrap

#23 Updated Package.json file and package-lock.json file
  package-lock.json
  package.json
  try4.jpeg
  try7.jpeg
Labels: javascript, package, json, js

#24 Added .gitignore file
  .gitignore
Labels: gitignore

#25 Added working setup procedure in readme file..by Arka
  readme.md
Labels: setup, getting started

#26 added links of hosted prototype in readme file..by Arka
  readme.md
Labels: link, deploy, prototype
